body {
	margin-top:20px;
	padding-bottom:30px;
}

.icon {
	display:inline-block;
	width:150px;
	min-height:150px;
	padding:auto;
	margin-bottom:10px;
}

.block {
	display:inline-block;
	margin:10px;
	width:150px;
	max-height:200px;
}

.block_label {
	font-size:10px;
}